{% extends '../layout.html' %}

<!-- context -->
{% block content %}

<section class="dashboard-page">
    <section class="statistics">
        <div class="top">
            <h1>Dashboard</h1>
        </div>
        
        <div class="bottom">

            <div class="alert" style="background-color: var(--secureColor);">
                <div class="count">
                    <span>14</span>
                </div>
                <div class="alert-info">
                    <h2>
                        Alert! <br/>
                        Secure URL
                    </h2>
                    <small>Risk: Low</small>
                </div>
            </div>

            <div class="alert" style="background-color: var(--warningColor);">
                <div class="count">
                    <span>14</span>
                </div>
                <div class="alert-info">
                    <h2>
                        Alert! <br/>
                        Secure URL
                    </h2>
                    <small>Risk: Low</small>
                </div>
            </div>

            <div class="alert" style="background-color: var(--dangerColor);">
                <div class="count">
                    <span>14</span>
                </div>
                <div class="alert-info">
                    <h2>
                        Alert! <br/>
                        Secure URL
                    </h2>
                    <small>Risk: Low</small>
                </div>
            </div>

        </div>
    </section>

    <section class="dash-tables">
        <table border="0">
            <thead>
                <tr class="header">
                    <th>Host</th>
                    <th>Scanned URL</th>
                    <th>Prediction</th>
                    <th>Risk Level</th>
                    <th>Results</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>isbat</td>
                    <td>https://www.isbat.com</td>
                    <td>Dangerous</td>
                    <td>
                        <progress class="progress-danger" id="file" value="62" max="100" > 32% </progress>
                    </td>
                    <td>Results</td>
                    <td>45:00:00 01/01/2024</td>
                </tr>
                <tr>
                    <td>isbat</td>
                    <td>https://www.isbat.com</td>
                    <td>Dangerous</td>
                    <td>
                        <progress class="progress-warning" id="file" value="62" max="100" > 32% </progress>
                    </td>
                    <td>Results</td>
                    <td>45:00:00 01/01/2024</td>
                </tr>
                <tr>
                    <td>isbat</td>
                    <td>https://www.isbat.com</td>
                    <td>Dangerous</td>
                    <td>
                        <progress class="progress-secure" id="file" value="62" max="100" > 32% </progress>
                    </td>
                    <td>Results</td>
                    <td>45:00:00 01/01/2024</td>
                </tr>
                <tr>
                    <td>isbat</td>
                    <td>https://www.isbat.com</td>
                    <td>Dangerous</td>
                    <td>
                        <progress class="progress-warning" id="file" value="62" max="100" > 32% </progress>
                    </td>
                    <td>Results</td>
                    <td>45:00:00 01/01/2024</td>
                </tr>
                
                <tr>
                    <td>isbat</td>
                    <td>https://www.isbat.com</td>
                    <td>Dangerous</td>
                    <td>
                        <progress class="progress-danger" id="file" value="62" max="100" > 32% </progress>
                    </td>
                    <td>Results</td>
                    <td>45:00:00 01/01/2024</td>
                </tr>

                <tr>
                    <td>isbat</td>
                    <td>https://www.isbat.com</td>
                    <td>Dangerous</td>
                    <td>
                        <progress class="progress-secure" id="file" value="62" max="100" > 32% </progress>
                    </td>
                    <td>Results</td>
                    <td>45:00:00 01/01/2024</td>
                </tr>

                <tr>
                    <td>isbat</td>
                    <td>https://www.isbat.com</td>
                    <td>Dangerous</td>
                    <td>
                        <progress class="progress-danger" id="file" value="62" max="100" > 32% </progress>
                    </td>
                    <td>Results</td>
                    <td>45:00:00 01/01/2024</td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </section>
</section>

<!-- end of context -->
{% endblock content %}