{% extends '../layout.html' %}

<!-- context -->
{% block content %}

    <section class="help-page">
        <h1>help center</h1>
        <hr>
        <h3>table of context</h3>
        <ul>
            <li><a href="">count ..</a></li>
            <li>count ..</li>
            <li>count ..</li>
            <li>count ..</li>
            <li>count ..</li>
            <li>count ..</li>
            <li>count ..</li>
        </ul>

        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati repellendus.
        </p>

        <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati repellendus.
        </p>

        <p class="text-right">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati repellendus.
        </p>
    </section>

<!-- end of context -->
{% endblock content %}