{% extends '../layout.html' %}

<!-- context -->
{% block content %}

<section class="help-page">
  <h1 style="display: flex; align-items: center">
    Help Center
    <i
      class="fa fa-circle-question"
      style="font-size: 50px; margin-left: 15px"
    ></i>
  </h1>
  <hr />
  <h3>Table Of Context</h3>
  <ul class="table-of-context">
    <h5>Chapter: Introdunction</h5>
    <li>1. <a href="#intro">introdunction</a></li>
    <h5>Chapter: Fraud URL Detection Installation</h5>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>

    <h5>Chapter: How To Scan URL's</h5>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>

    <h5>Chapter: Dashboard Navigation</h5>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>

    <h5>Chapter: Harmless Scans or Links</h5>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>

    <h5>Chapter: Dangerous Links</h5>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>

    <h5>Chapter: Check For Number of Malicious Links</h5>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    
    <h5>Chapter: Conduct a Search in Reports</h5>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    <li>1. <a href="#intro">introdunction</a></li>
    
    <h5>Chapter: FAQ</h5>
    <li>14045. <a href="#faq">frequent asked questions</a></li>

    <h5>Chapter: Index</h5>
    <li>14045. <a href="#help-index">indexing</a></li>
  </ul>

  <section id="intro">
    <h1>introdunction</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident
      sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam
      voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati
      repellendus.       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident
      sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam
      voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati
      repellendus.
    </p>
  </section>

  <section id="intro">
    <h1>How To Scan URL's</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident
      sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam
      voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati
      repellendus.
    </p>
  </section>

  <section id="dash">
    <h1>Dashboard Navigation</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident
      sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam
      voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati
      repellendus.
    </p>
  </section>

  <section id="harmless-scan">
    <h1>Harmless Scans or Links</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident
      sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam
      voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati
      repellendus.
    </p>
  </section>

  <section id="Dangerous-links">
    <h1>Dangerous Links</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident
      sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam
      voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati
      repellendus.
    </p>
  </section>

  <section id="count-malicious">
    <h1>Check For Number of Malicious Links</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident
      sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam
      voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati
      repellendus.
    </p>
  </section>

  <section id="search">
    <h1>Conduct a Search in Reports</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, provident
      sunt sequi placeat vel doloremque ad! Ab, asperiores. Nam aliquam
      voluptatum ea repudiandae quibusdam blanditiis cupiditate a ab obcaecati
      repellendus.
    </p>
  </section>

  <section id="faq">
    <h1>FAQ</h1>
    <div class="block">
      <h5>
        <span style="color: red; font-size: 30px">Q</span>: How does urlscan.io
        work?
      </h5>
      <p>
        <span style="color: green">A</span>
        We use the Google Chrome browser in Headless Mode to browse to the URLs
        submitted by users. We record the interaction of the page with the
        Internet and after the page has finished loading, we annotate the
        results with additional data sources
      </p>
    </div>

    <div class="block">
      <h5>
        <span style="color: red; font-size: 30px">Q</span>: Does urlscan.io show
        whether a website contains malware or phishing attempts?
      </h5>
      <p>
        <span style="color: green">A</span>
        Yes, we have some basic mechanisms for determining whether a website
        contains malicious content. Our proprietary phishing detection mechanism
        tracks 500 popular brands and can identify phishing or impersonation
        attempts of these brands. We do record file downloads, but we do not
        detect whether a downloaded file is malicious, e.g. a malicious
        executable.
      </p>
    </div>

    <div class="block">
        <h5>
          <span style="color: red; font-size: 30px">Q</span>: Does urlscan.io show
          Can I search urlscan.io for pages which have been detected as malicious?
        </h5>
        <p>
          <span style="color: green">A</span>
          This feature is available as part of the commercial urlscan Pro subscription and not available through the community search.
          executable.
        </p>
      </div>
  </section>

  {% comment %} {% endcomment %}

  <section id="help-index">
    <h1>index</h1>
    <ul class="help-index-box">
        <li><a href="">malicious</a></li>
        <li><a href="">harmless</a></li>
        <li><a href="">suspicious</a></li>
        <li><a href="">installation</a></li>
        <li><a href="">requirements</a></li>
        <li><a href="">undetected</a></li>
        {% comment %}  {% endcomment %}
        <li><a href="">malicious</a></li>
        <li><a href="">harmless</a></li>
        <li><a href="">suspicious</a></li>
        <li><a href="">installation</a></li>
        <li><a href="">requirements</a></li>
        <li><a href="">undetected</a></li>
        <li><a href="">malicious</a></li>
        <li><a href="">harmless</a></li>
        <li><a href="">suspicious</a></li>
        <li><a href="">installation</a></li>
        <li><a href="">requirements</a></li>
        <li><a href="">undetected</a></li>
        <li><a href="">malicious</a></li>
        <li><a href="">harmless</a></li>
        <li><a href="">suspicious</a></li>
        <li><a href="">installation</a></li>
        <li><a href="">requirements</a></li>
        <li><a href="">undetected</a></li>
        <li><a href="">malicious</a></li>
        <li><a href="">harmless</a></li>
        <li><a href="">suspicious</a></li>
        <li><a href="">installation</a></li>
        <li><a href="">requirements</a></li>
        <li><a href="">undetected</a></li>
    </ul>
  </section>
</section>

<!-- end of context -->
{% endblock content %}
