{% extends '../layout.html' %}

<!-- context -->
{% block content %}

<section class="report-page">
    <section class="filter">
        
            <h1>Report</h1>
        
        
        <form method="get" action="/search">

            <span class="searchInput">
                <input type="search" name="search" placeholder="Search" id="" />
                <button type="submit" class="icon">
                    <i style="color: var(--white);" class="fa fa-search"></i>
                </button>
            </span>
        </form>
    </section>

    <section class="report-tables">
        <table border="0">
            <thead>
                <tr class="header">
                    <th>Host</th>
                    <th>Scanned URL</th>
                    <th>Prediction</th>
                    <th>Risk Level</th>
                    <th>Results</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for report in allreports %}
                <tr onclick="">
                    <script>
                        setTimeout(() => {
                            progressBar('progress-{{report.id}}',
                            {% if report.malicious < 10 and report.suspicious < 10 and report.harmless > 50 %}
                                {{report.harmless}}
                            {% elif report.malicious < 30 or report.suspicious > 50 and report.harmless < 50 %}
                                {{report.suspicious}}
                            {% elif report.malicious > 30 or report.suspicious > 30 and report.harmless < 50 %}
                                {{report.malicious}}
                            {% else %}
                                10
                            {% endif %}
                            ,
                            {{report.harmless}},
                            {{report.suspicious}},
                            {{report.malicious}},
                            {{report.undetected}},
                            //type

                            {% if report.malicious < 10 and report.suspicious < 10 and report.harmless > 50 %}
                                'harmless'
                            {% elif report.malicious < 30 or report.suspicious > 50 and report.harmless < 50 %}
                                'suspicious'
                            {% elif report.malicious > 30 or report.suspicious > 30 and report.harmless < 50 %}
                                'malicious'
                            {% else %}
                                
                            {% endif %}

                            ) //end of function
                        }, 1000);
                    </script>

                    <td> {{report.id}}</td>
                    <td title="{{ report.url }}"> <a href="/result/{{report.id}}"> <script> document.write("{{ report.url }}".slice(0,25)+" ..."); </script> </a> </td>
                    <td>
                        {% if report.malicious < 10 and report.suspicious < 10 and report.harmless > 50 %}
                            Legitemate
                        {% elif report.malicious < 30 or report.suspicious > 50 and report.harmless < 50 %}
                            Warning
                        {% elif report.malicious > 30 or report.suspicious > 30 and report.harmless < 50 %}
                            Dangerous
                        {% else %}
                            Undetected
                        {% endif %}
                    </td>
                    <td>
                        <progress style="cursor: pointer;" class="
                        {% if report.malicious < 10 and report.suspicious < 10 and report.harmless > 50 %}
                            progress-secure
                        {% elif report.malicious < 30 or report.suspicious > 50 and report.harmless < 50 %}
                            progress-warning
                        {% elif report.malicious > 30 or report.suspicious > 30 and report.harmless < 50 %}
                            progress-danger
                        {% else %}
                            Undetected
                        {% endif %}

                        "
                        title=""
                        id="progress-{{report.id}}" 
                        value="0" max="100" > 32% </progress>
                    </td>
                    <td>{{ report.category }}</td>
                    <td>{{ report.created_at }}</td>
                </tr>

                {% endfor %}
              
            </tbody>
            <tfoot></tfoot>
        </table>
    </section>
</section>

<script>
    function progressBar(id,value,harmless,suspicious,malicious,undetected,type){
        var total_fn = harmless + suspicious + malicious + undetected;
        var range_fn = Math.max(harmless, suspicious, malicious, undetected) - Math.min(harmless, suspicious, malicious, undetected);
        var average_fn = harmless + suspicious + malicious + undetected / 4;
        var test_fn = (total_fn + average_fn-range_fn*2);//(total_fn / average_fn)
        //alert(id + " " + value);
        //document.getElementById(id).value = (50 - value );
        //document.getElementById(id).value = (33.3-harmless+33.3-suspicious+33.3-malicious) ;
        //document.getElementById(id).title = 33.3 + 33.3 + 33.3 - value +"%";


        switch(type){
            case 'harmless':
            document.getElementById(id).value = test_fn;
            document.getElementById(id).title = test_fn+ "%";
            break;
            case 'suspicious':
            document.getElementById(id).value = test_fn;
            document.getElementById(id).title = test_fn + "%";
            break;
            case 'malicious':
            document.getElementById(id).value = test_fn;
            document.getElementById(id).title = test_fn + "%";
            break;
            default:
            break;
        }


    }


</script>

<!-- end of context -->
{% endblock content %}