html,
body {
  scroll-behavior: smooth !important;
}

.help-page {
  display: block;
  margin-top: -80px !important;
  height: 108% !important;
  border-radius: 0px !important;
  padding: 20px;
  background-color: var(--white) !important;
  overflow: auto;
}

.help-page h1 {
  font-size: 30px !important;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--fontBlack);
  margin-left: 50px;
  margin-right: 50px;
}

.help-page h3 {
  text-transform: capitalize;
  font-size: 18px !important;
  font-family: var(--defaultFont);
  margin-left: 50px;
  margin-right: 50px;
}

.help-page ul {
  padding-left: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.help-page ul li {
  list-style: none;
  font-size: 13px;
  font-family: var(--defaultFont);
  text-align: left;
  text-transform: capitalize;
}

.help-page p {
  font-size: 13px;
  font-family: var(defaultFont);
  text-align: left;
  margin: 0px 0px;
  padding: 0px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 50px;
}

.help-page a {
  color: rgb(0, 217, 255);
  text-decoration: underline;
}

.help-page .text-center {
  text-align: center;
}

.help-page .text-right {
  text-align: right;
}

.table-of-context{

}

.table-of-context li a{
  margin-left: 10px;
}

.block{
  margin: 0px 50px;
}

.block h5{
  font-size: 20px;
  margin-bottom: 10px !important;
}

.block p{
  margin: auto 0px !important ;
  margin-top: 10px !important;
}

.help-index-box{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-around;
  padding: 0px;
  height: auto;
  max-height: 100px;
}

.help-index-box li{
  margin: 5px;
}