<aside>
    <div class="top">
        <span class="sidebar-buttons"><i class="fa fa-bars"></i></span>
        <a href="/dashboard" style="text-decoration: none;" class="sidebar-buttons"><i class="fa fa-home"></i></a>
        <a href="/" style="text-decoration: none;" class="sidebar-buttons"><i class="fa fa-search"></i></a>
        <a href="/report" style="text-decoration: none;" class="sidebar-buttons"><i class="fa fa-file-text"></i></a>

    </div>

    <div class="bottom">
        <a href="/docs" style="text-decoration: none;" span class="sidebar-buttons"><i class="fa fa-circle-question"></i></a>
        <span class="sidebar-buttons"><i class="fa fa-gear"></i></span>
    </div>
  </aside>